.studentsSection {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 128px);
  gap: 1em;
  a {
    color: darkslategrey;
    text-decoration: none;
    figure {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      opacity: 0;
      animation: build 150ms ease-out;
      animation-fill-mode: forwards;
      img {
        border-radius: 5px;
        grid-column: 1/2;
        grid-row: 1/3;
        min-height: 128px;
        background-color: gray;
      }
      figcaption {
        div {
          background-color: black;
          opacity: 0.8;
          padding: 0.5rem;
          border-radius: 0 0 5px 5px;
        }
        color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
      }
    }
    @keyframes build {
      from {
        transform: translateY(-75px);
        opacity: 0;
      }
      to {
        opacity: 100;
      }
    }
  }
}
